# Supabase (https://supabase.com/dashboard/project/_/settings/api)
VITE_SUPABASE_URL=https://hfayxlevaexenzytzkjr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhmYXl4bGV2YWV4ZW56eXR6a2pyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEzMjY0ODcsImV4cCI6MjA4NjkwMjQ4N30.gRwxAqy-_LgTjGqrnoNN2obwCTKD8MzV0zSXuxIqV6Q
